:root {
  scroll-behavior: smooth;
  // layout vars
  --navbar-height: 3.6rem;
  --navbar-padding-v: 0.7rem;
  --navbar-padding-h: 1.5rem;
  --sidebar-width: 20rem;
  --sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
  --content-width: 1024px;
  //--homepage-width: 960px;
}
.theme-hope-content:not(.custom){
  margin: 0 1px;
}
