//$MQNarrow: 1080px !default;
// code languages

// $codeLang: "c" "cpp" "cs" "css" "dart" "docker" "fs" "go" "html" "java" "js" "json" "kt" "less" "makefile" "md" "php" "py" "rb" "rs" "sass" "scss" "sh" "autohotkey" "text" "styl" "ts" "toml" "vue" "xml" "yml" !default;
 	// $content-width: calc(100vw - 40rem) !important;
 	$content-width: 60vw;
// $home-page-width: 60vw;
